@font-face
{
	font-family: parryhotter;
	src: url("fonts/ParryHotter.ttf");
}

@keyframes fade
{
	0% 
	{
		opacity: 0;
	}

	30% 
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
}

.alternativa
{
	font-family: parryhotter;
	font-size: 35px;
	text-align: center;
}

body
{
	border: 0px;
	font-family: arial;
	font-size: 12px;
	margin: 0px;
}

.mapa_cel
{
	font-family: parryhotter;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: 3s all;
	width: 100%;
}

.mestra
{
	background-image: url("imagens/fundo.png");
	background-position: "10px 10px"; 
	height: 100%;
	position: relative;
	overflow: hidden;
	transition: 3s all;
	width: 100%;
}

.pegada_dir
{
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
	animation-name: fade;
	background-image: url("imagens/pe_dir.png");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	opacity: 0;
	position: absolute;
	transition: 3s all;
	width: 45px;
}

.pegada_esq
{
	animation-duration: 2.5s;
	animation-fill-mode: forwards;
	animation-name: fade;
	background-image: url("imagens/pe_esq.png");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	opacity: 0;
	position: absolute;
	transition: 3s all;
	width: 45px;
}

.pergunta
{
	color: #DD0000;
	font-family: parryhotter;
	font-size: 45px;
	height: 200px;
	opacity: 1;
	text-align: center;
	text-shadow: -1px -1px #000, 1px 1px #000, 0px 0px 3px #000;
}

.proximo
{
	background-image: url("imagens/proximo.png");
	background-repeat: no-repeat;
	background-size: contain;
	bottom: 20px;
	right: 20px;
	height: 150px;
	position: absolute;
	width: 200px;
}
